@page "/upcoming-events"
@using System.Net.Http.Json
@using FunPlannerShared.Controllers
@using FunPlannerShared.Data.Entities
@inject IEventController eventController
@inject HttpClient httpClient

<h3>Upcoming Events</h3>

<MudTable Items="@Elements.Take(4)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Nazwa wydarzenia</MudTh>
        <MudTh>Start</MudTh>
        <MudTh>Koniec</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Start">@context.Start</MudTd>
        <MudTd DataLabel="End">@context.End</MudTd>
        @*<MudTd DataLabel="Position" HideSmall="_hidePosition">@context.Position</MudTd>
        <MudTd DataLabel="Molar mass">@context.Molar</MudTd>*@
    </RowTemplate>
</MudTable>

@code {
    private bool loading = true;
    private ICollection<CalendarEvent> Elements = new List<CalendarEvent>();

    protected override async Task OnInitializedAsync()
    {
        Elements = await eventController.GetUpcoming();
        loading = false;
    }
}